#bloc_page{
    width:900px;
    margin:auto;
    display: flex;
    flex-direction: column;
       
}
#page_principal{
     display:flex;
     flex-direction:column;
     width:950px;
     margin:auto;
     font-family:"Raleway",sans-serif;
 }
 /*police du site*/
 @font-face{
    font-family:"Raleway";
    src: url('polices/Raleway-Medium.ttf');
}
/*police utilisée dans les blocs photos */
@font-face{
   font-family:"RalewayBold";
    src:url('polices/Raleway-ExtraBold.ttf');
}
strong{
    font-family:"RalewayBold",sans-serif;
}

h2{
    font-size:1.2em;
}
a{
    text-decoration: none;
    color:black;   
}
/*paragraphe au dessous du titre du site*/
h2+p{
    font-size:0.85em;
   position:relative;
    bottom:4px;
}
a>strong{
    padding-left:10px;

}
/*balise nav contenant les liens heberegement,activiteset s'inscrire*/
header>nav{
    display:flex;
    height:70px;
    justify-content: space-between;
}

/*balise div contenant les div des liens hebergement,activités,s'inscrire*/
.menu_header{
    display: flex;
}
.menu_header>div>a{
    font-size:0.8em;
}
/*div contenant le logo reservia  et le lien hebergement*/
.menu_header:nth-child(1){
    width:75%;

}
/*div des liens activités et s'inscrire*/
.menu_header:nth-last-child(1){
    width:25%;
}
/*balise div contenant le logo reservia*/
.menu_header:nth-child(1)>div:nth-child(1){
    width:80%;
    padding-top:4%;
   
}
/*balise div contenant le lien hebergement*/
.menu_header:nth-child(1)>div:nth-child(2){
    width:20%;
    text-align: center;
    padding-top:4%;
   
}
/*balise div contenant les liens activités et s'inscrire*/
.menu_header:nth-last-child(1)>div{
    width:50%;
    text-align: center;
    padding-top:12.5%;
   
}
/*balise div contenant le lien hebergement*/
.menu_header:nth-child(1)>div:nth-last-child(1){
    border-top:2px solid #0065FC;
}
 /*balise div contenant le lien hebergement */
 .menu_header:nth-child(1)>div:nth-last-child(1)>a{
    color:#0065FC;
  }

 /*balise div contenant le lien s'inscrire */
 .menu_header:nth-child(2)>div:nth-last-child(1)>a{
    color:#0065FC;
    font-weight: bold;
  }
  .barre_de_recherche{
      height:60px;
  }

/*texte dans la balise input*/
input::placeholder{
    color:black;
    font-family: 'Raleway',sans-serif;
    font-weight: bold;
    padding-left:10px;
    
}
input[type="text"]{
    display: inline-block;
    outline: none;
    border:1px solid #F2F2F2;
    width:260px;
    height:35px;
}
#marker_desktop{
    display:block;
    background-color: #F2F2F2;
    width:40px;
    float:left;
    height:29px;
    border-top-left-radius:10px;
    border-bottom-left-radius: 10px;
    padding-top:10px;
    text-align: center;

}
#bouton_desktop{
    outline: none;
    display:block;
    width:90px ;
    height:39px;
    position:relative;
    font-size:0.7em;
    left:225px;
    bottom:39px;
    font-weight: bold;
    border:none;
    background-color: #0065FC;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    color:white;
  
}

#bouton_mobile{
    display: none;
}
.filtre{
   display: flex;
   justify-content:flex-start;
   align-items: center;
   margin:auto;

}

.filtre>p{
    font-weight:bold;
    font-size:0.9em;
    margin-right:15px;
}

/*balise  div contenant les filtres*/ 
.categorie_filtre{
    display: inline-block;
    width:165px;
    height:35px;
    border:2px solid #F2F2F2;
    border-left:none;
  margin-right:15px;
    border-radius:25px;
   
}
.categorie_filtre:hover{
    background-color:#DEEBFF;
    border:2px solid #0065FC;
}
/*lien contenant le lien econnmique*/
.categorie_filtre:nth-child(2){
    width:125px;
}
.categorie_filtre:nth-child(3){
    width:106px;
}
.categorie_filtre:nth-child(4){
    width:120px;
}



/*les icônes contenus dans les filtres*/
.categorie_filtre>i{
    background-color:#DEEBFF;
    float: left;
    text-align: center;
    width:35px;
   font-size:0.9em;
    height:25px;
    padding-top:10px;
    color:#0065FC;
    border-radius:100%;
}
/*les liens contenus dans les filtres*/
.categorie_filtre>a{
    display:inline-block;
   padding-top:10px;
  font-weight: bold;
  margin-left:5px;
  font-size:0.8em;
}


/*insertion du logo info*/
nav+p>span>img{
    display: inline-block;
    object-fit: cover;
    position:relative;
    padding-right:0px;
    top:10px;
}
nav+p{
    margin-bottom:40px;
    font-size:0.9em;
}

#article_hebergement{
    border-radius:20px;
    background-color:#F2F2F2;
    width:580px;
    display: flex;
    flex-direction: column;
}
/*balise contenant les noms et prix des hebergements à marseille*/
.photo_hebergement>a>strong,.photo_hebergement>a>span{
    display:inline-block;
    padding-top:2px;
    text-align: left;
    padding-left:10px;
    width:150px;
}
/*bloc contenant l'article hebergement àmarseille et populaires*/
.bloc_regroup_hebergement{
    display:flex; 
    justify-content:space-between; 
    height:450px;
}
/*bloc contenant les photos à Marseille*/
.bloc_photo{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
}
/*image contenu dans le bloc hebergement*/
.photo_hebergement a>img{
    display:inline-block;
    width:150px;
    height: 80px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    padding-top: 4px;
    object-fit: cover;
}
/*bloc contenant les photos d'hebergement*/
.photo_hebergement{
    width:160px;
    height: 140px;
    background-color:white;
    font-size:0.7em;
    text-align: center;
    margin:13px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
    border-radius:10px;

}
/*couleur bleu sur l'ensemble des etoile dans l'article hebergement*/
.photo_hebergement>a>span>i{
    color:#0065FC;
}

.etoile_hebergement>span>i:nth-last-child(1){
    color: #d9d9d9;
}
.etoile_hebergement2>span>i:nth-last-child(1){
    color: #d9d9d9;
}
.etoile_hebergement1>span>i:nth-last-child(1){
    color: #d9d9d9;
}
.etoile_hebergement1>span>i:nth-last-child(2){
    color: #d9d9d9;
}
/*balise h2 au dessus d'hebergement de marseille et populaires*/
article>h2{
    padding-left:20px;
    position:relative;
    top:10px;
}   
/*lien au dessous des hebergement de marseille*/
article>a{
    font-size:0.8em;
    margin-top:10px;
    font-weight:bold;
    padding-left:20px;
    padding-top:5px;
}
/*espace en les balises div  contenant les logement pooulaires*/
.photo_populaire{
    margin:auto; 
 }

/*h2 au dessus de populaire*/
#article_populaire>h2{
    display: flex;
    justify-content:space-around;
   padding-left:0px;
  
}
/*etoile contenu dans populaire*/
.photo_populaire>a>div>i{
    color:#0065FC;
}
.etoile_populaire>i:nth-last-child(1){
    color:#d9d9d9;
}
.etoile_populaire1>i:nth-last-child(1){
    color: #d9d9d9;

}

.photo_populaire a>img{
    display:inline-block;
    width:110px;
    height: 90px;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    margin-left:4px;
    margin-right:10px;
    object-fit: cover;

}
/*balise div contenant la description des photos populaires*/
.photo_populaire>a>div{
    width:110px;
    text-align:left;
    font-size:0.7em;
    height: 100px;
}
/*balise p contenant les noms et prix des plus populaires*/
.photo_populaire>a>div>p{
   padding-bottom:14px;
}
/*lien contenu dans les balises phot_populaires*/
.photo_populaire>a{
    justify-content:left;
    align-items: center;
    display: flex;
    width: 250px;
    height: 100px;
    border-radius:10px;
    margin-bottom:8px;
    background-color:white; 
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
}

#article_populaire{
    width:300px;
    background-color:#F2F2F2;
    border-radius:20px;
    display: flex;
    flex-direction: column;
}

.photo_activite>a>img{
    display: inline-block;
    width:200px;
    height:250px;
    border-top-left-radius:20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}
#activite{
    display: flex;
    flex-direction: column;
    margin-top:30px;

}
.photo_activite{
    height:300px;
    width:200px;
    text-align:left;
    font-size:0.8em;
    border-radius: 20px;
    border-left:none;
    border-right: none;
    box-shadow:0.5px 0.5px 10px rgb(167, 158, 158);
}
.group_photo_activite{
    display: flex;
    justify-content: space-between;
   
}
.photo_group_activite>div>a>img{
    width:200px;
    height:100px;
}
.photo_group_activite>div{
    width:200px;
    height:150px;
    
}
.photo_group_activite{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    height:300px;
    width:200px;
}
/*balise strong contenant les noms des activités*/
.photo_activite>a>strong{
    display:inline-block;
    margin-top:10px;
}

/*dimensions de l'images */
.photo_group_activite>div:nth-child(2)>a>img{
    height:73px;
}
/*dimensions de l'images */
.photo_group_activite>div:nth-child(1)>a>img{
    height:105px;
}
/*taille du bloc div contenant l'image*/
.photo_group_activite>div:nth-child(2){
    height:120px;  
}
#bloc_dame{
    height:140px;
}
#bloc_parc{
    height:140px;
}
#parc{
    height:92px;
}
#dame{
    height:92px;
}

footer>nav{
    background-color:#F2F2F2;
    display: flex;
    justify-content:space-between;

}
nav>section{
    width:300px;
}
nav>section:nth-child(1){
    width:200px;
    margin-left:20px;
}
nav>section:nth-child(2){
    width:150px;
}

footer{
   /* border: 1px solid black;*/
    margin-top: 30px;
    width:950px;
   /* border:1px solid red;*/

}
section>p{
    font-size: 0.8em;
}

@media only screen  and (max-width:768px){

    #bloc_page{
    width:auto;
    margin:0px;
    }
    #page_principal{
        width:auto;
       /* border:1px solid red;*/
        margin:0px;
    }
    form{
        width:100%;
        height:100%;
    }
    body{
        margin:0px;
    }
    h2{
        font-size:5.5vw;
    }
    header{
        margin-top:5vw;
    }
    /*balise nav contenant les div des liens hebergement,activités,s'inscrire*/
    header>nav{
        width:100%;
        height:25vw;
        display: flex;
        
    }
    /*balise div contenant les liens heberegement;activités,s'inscrire*/
    .menu_header{
        width:50% !important;
        height:25vw !important;
        display: flex;
        flex-direction: column;
        
    }
    /*logo reservia du site*/
    .logo>img{
        width:87%;
        height:87%;
        position: relative;
        right:3vw;
    }
        
    .menu_header>div{
        width:100% !important;
        height:15vw !important;
        padding-top:0 !important;
       font-size:5vw !important;
    }
    /*balise div contenant le lien hebergement*/
    .menu_header:nth-child(1)>div:nth-last-child(1){
        text-align: center;
        height:10vw !important;
        border-bottom:3px solid  #F2F2F2;
    }
    .menu_header:nth-child(1)>div:nth-last-child(1):defined{
        border-bottom:3px solid #0065FC;
        border-top: none;
    }
   
    /*lien contenant hebergement*/
    .menu_header:nth-child(1)>div:nth-last-child(1)>a{
       position:relative;
       top:2vw;
    }

    /*balise div contenant le lien  s'inscrire*/
    nav>.menu_header:nth-last-child(1)>div:nth-last-child(1){
        order:1;
        text-align: center;
    }
    /*le lien contenant s'inscrire*/
    nav>.menu_header:nth-last-child(1)>div:nth-last-child(1)>a{
        font-weight:bold;
        color:#0065FC;
        position:relative;
        left:10vw;
        top:4vw;
    }

    /*balise div contenant le lien activité*/
    nav>.menu_header:nth-last-child(1)>div:nth-last-child(2){
        order:2;
        text-align: center;
         height:10vw !important;
         border-bottom:3px solid  #F2F2F2;
    }
    /*lien contenant activité*/
    nav>.menu_header:nth-last-child(1)>div:nth-last-child(2)>a{
        position:relative;
        top:2vw;
    }

/*titre principale du site*/
main>h2{
    padding-top:5vw;
    text-align:left;
    float:left;
    width:80%;
    margin-bottom:6vw;
    padding-left:6vw;
   }
/*paragraph au dessous du titre*/
main>h2+p{
    font-size:4vw;
    clear:both;
    padding-left:6vw;
}
form{
    width:auto !important;
}
.barre_de_recherche{
    display: flex;
    width:100% !important;
    align-items: center;
    justify-content: space-around;
}
.barre_de_recherche>input{
    width:70vw!important;
    height:12vw!important;
   border:0.4vw solid #F2F2F2 !important;
    border-radius:0 !important;
}
#bouton_desktop{
    display:none;
}
#bouton_mobile{
    outline: none;
    display:block;
    width:14vw !important;
    height:14vw !important;
    border:none;
    background-color: #0065FC;
    color:white;
    font-size:4vw;
    border-radius:4vw;
    position:relative;
    margin-right:1vw;
    right:9vw;
}
#marker_desktop{
    width:13vw!important;
   height:8vw !important;
    padding-top:5.3vw;
    border-top-left-radius:4vw;
    border-bottom-left-radius:4vw;
    font-size:4vw;
    position:relative;
    left:4vw;
    top:0.2px;
    bottom:1px !important;
}

input::placeholder{
    font-size:4vw;
    padding-left:9vw;

}
.filtre{
    width:100%;
    height:100%;
    display:block !important;
  
}
/*balise contenant les liens du filtre*/
.categorie_filtre{
    display: inline-block;
    width:60vw !important;
    height:12vw !important;
    border:2px solid #F2F2F2;
    border-left:none;
    margin-left:2.5vw !important;
    margin-right: 0px !important;
    border-radius:6vw;
    margin-bottom:3vw !important;
}

/*lien contenu dans la balise div du filtre*/
.categorie_filtre>a{
    font-size:4vw;
   padding-top:3.5vw !important;
    padding-right:6vw;
    margin-left:0px !important;
    float:right;
}
.categorie_filtre:nth-child(2)>a{
    padding-right:8vw !important;
}
.categorie_filtre:nth-child(5)>a{
    padding-right:11vw !important;
}
/*paragraphe contenant le mot filtre*/
.filtre>p{
    font-size:4vw;
    font-weight: bold;
    margin-left:4vw;
    
}
/*icone des filtres*/
.categorie_filtre>i{
    background-color:#DEEBFF;
    width:12vw !important;
    height:8vw !important;
    float: left;
    text-align: center;
    padding-top:4vw !important;
    font-size:4vw;
    color:#0065FC;
    border-radius:100%;
}
/* balise div contenant le lien familial*/
.categorie_filtre:nth-child(3){
    float:right;
    margin-right:10vw !important;
    width:35vw !important;
}
/* balise div contenant le lien economique*/
.categorie_filtre:nth-child(2){
    width:46vw !important;
    clear:both;
   
}
/* balise div contenant le lien romantique */
.categorie_filtre:nth-child(4){
    width:43vw !important;
}
/*balise contenant 500 logements*/
nav+p{
    font-size:4vw;
    padding-left:4vw;
    padding-right:4vw;
    margin-bottom:10vw;
   
}
nav+p>span:nth-child(1)>img{
    width:8%;
    height: 8%;
    position:relative;
    top:2vw;
}
nav+p>span:nth-child(2){
    padding-left:7vw;
}
/*balise h2 au dessus des hebergements a marseille*/
#article_hebergement>h2{
    padding-left:6vw;
    padding-bottom:5vw;
}

.bloc_regroup_hebergement{
    display:flex; 
    flex-direction: column-reverse;
    margin:auto;
    height:auto;
    justify-content:center; 
  
}
#article_hebergement{
    background-color:#F2F2F2;
    background-color:white;
    width:auto;
    display: flex;
    flex-direction: column;
    margin-top:5vw;
}
.bloc_photo{
    display:flex;
    flex-direction: column;
}
.photo_hebergement{
    width:90vw;
    height:50vw;
    background-color:white;
    font-size:4vw;
    margin-bottom:30px;
    text-align: center;
    border-radius:5vw;
    margin:auto auto 5vw auto!important;
   
}
.photo_hebergement a>img{
    display:inline-block;
    width:88vw;
    height:25vw !important;
    border-top-left-radius:5vw;
    border-top-right-radius:5vw;
    padding-top:1vw;
}
/*taille des etoiles dans hebergement*/
.photo_hebergement>span>i{
    font-size:3vw;
}
.photo_hebergement>a>strong,.photo_hebergement>a>span{
    width:88vw;
    padding-top:2vw;
    padding-left:5vw;
}
/*lien au dessous des hebergement de marseille*/
article>a{
    font-size:4vw;
    padding-left:6vw;
    padding-top:1vw;
}

#article_populaire{
    width:auto;
    height:100%;
    border-radius: 0px;
      
}
/*balise h2  au dessus  des logements populaires*/ 
#article_populaire>h2{
    position:relative;
    bottom:10vw;
    width:90%;
    height:100% !important;
    padding-left:0;
   padding-bottom:0 !important;
   margin-left:6vw;
   justify-content: space-between;
    margin-bottom:10vw;
}
.photo_populaire{
    width:90vw;
    height:40vw;
    margin:auto auto 5vw auto!important;
}
.photo_populaire>a{
    justify-content:left;
    width: 90vw;
    height:40vw;
    border-radius:5vw;
    box-shadow: none;  
}
.photo_populaire a>img{
    display:inline-block;
    width:44vw;
    height:38vw;
    padding-left:1vw;
    margin-left:0px !important;
    margin-right:4vw !important ;
    border-top-left-radius:5vw;
    border-bottom-left-radius:5vw;
}
.photo_populaire>a>div{
    width:100%;
    font-size:4vw;
    height:40vw;
    
}
.photo_populaire>a>div>p{
   padding-bottom:0px !important; 
    
}/*les noms des logements populaires*/
.photo_populaire>a>div>p>strong{
    padding-bottom:2vw;
}
/*les etoiles dans populaires*/
.photo_populaire>a>div>i{
    font-size:3vw;
    padding-top:11vw !important;

}


/*bloc contenant les images et noms*/
.photo_activite{
    width:90vw !important;
    height:45vw !important;
    margin-top:50px!important;
    border-radius:5vw;
    margin:auto auto 5vw auto!important;
}
#activite>h2{
    position:relative;
    padding-left:6vw;
    bottom:2vw;
}
.photo_activite>a>img{
    width:90vw !important;
    height:30vw!important;
    border-top-left-radius:5vw;
    border-top-right-radius:5vw;
    
}
/*balise contenant les noms des activités*/
.photo_activite>a>strong{
   font-size:4vw;
   margin-top:2vw !important;
   margin-left:1vw; 
   
}
/*bloc contenant toutes les activités*/
.group_photo_activite{
    flex-direction: column;
    margin:auto;
}
.photo_group_activite{
    width:auto;
    height:auto;
}
footer{
    margin-top:10vw;
    width:auto;
}
footer>nav{
    flex-direction: column;
    justify-content:flex-start;

}
nav>section{
    width:80% !important;
    font-size:5vw;
    margin:auto !important;
}

}
@media only screen and (max-width:280px){

  .barre_de_recherche{
      height:12vw;
  }
  .barre_de_recherche{
      width:auto;
  }
    .barre_de_recherche>input{
        display: block;
        height:90%!important;
        width:80% !important;
    }
    #marker_desktop{
        display: block;
        width:10%;
       height:84% !important;
       padding-top:3.5vw !important;
    }
   


}













