#bloc_page{
    width:900px;
    margin:auto;
    display: flex;
    flex-direction: column;
   /* border: 1px solid red;*/
       
}
#marker_mobile{
    display:none;
}
.menu_header>div{
    text-align: center;
    width:150px;
    height:50px;
}
.menu_header>div>a{
    display: inline-block;
    padding-top:20px;
   
}
.menu_header>div>a:hover{
    border-top:2px solid #0065FC;
}
.logo{
    width:200px;
    height:50px;
    text-align: center;
}
.menu_header{
    display: flex;
    justify-content: space-around;
   
}
header>nav{
    display:flex;
    justify-content:space-between;
    height:100px;
    align-items: center;
    
}
header>nav>.menu_header>div:nth-last-child(1)>a{
    color:#0065FC;
   
}

header>nav>div:nth-last-child(2){
    text-align:left;
    width:150px;
   
}

header>nav>.menu_header>div:nth-last-child(1){
    font-weight: bold;
    text-align:right;
    width:100px;
    
}
.etoile_populaire>i:nth-last-child(1){
    color:#968c8c;
}
.etoile_populaire1>i:nth-last-child(1){
    color:#968c8c;

}
.etoile_hebergement>i:nth-last-child(1){
    color:#968c8c;
}
.etoile_hebergement2>i:nth-last-child(1){
    color:#968c8c;
}
.etoile_hebergement1>i:nth-last-child(1){
    color:#968c8c;
}
.etoile_hebergement1>i:nth-last-child(2){
    color:#968c8c;
}

strong{
    font-family:"RalewayBold",sans-serif;
}

h2{
    font-size:1.1em;
}
article>h2,article>a{
    padding-left:20px;
}
article>a{
    font-size:0.8em;
    margin-top:10px;
    font-weight:bold;
}

#page_principal{
   /* border:1px solid green;*/
    display:flex;
    flex-direction:column;
    width:950px;
  
    margin:auto;
    font-family:"Raleway",sans-serif;
}
#article_populaire>h2{
    display: flex;
    justify-content:space-around;
    padding-left:0px;
  
}
.photo_populaire>a>div>i{
    color:#0065FC;
}

#bouton_mobile{
    display:none;
}
@font-face{
    font-family:"Raleway";
    src: url('polices/Raleway-Medium.ttf');
}
@font-face{
   font-family:"RalewayBold";
    src:url('polices/Raleway-ExtraBold.ttf');
}



a{
    text-decoration: none;
    color:black;  
}


input::placeholder{
    color:black;
    font-family: 'Raleway',sans-serif;
    font-weight: bold;
}
input[type="text"]{
outline: none;
width:250px;
height:35px;
text-align:center;
border:1px solid #F2F2F2;
border-radius:10px;
}
button{
    width:90px;
    outline: none;
    height:40px;
    color:white;
    font-weight: bold;
    background-color:#0065FC;
    border:none;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    position:relative;
    right:100px;

}/*font awesome de la barre de recherche*/
#marker_desktop{
    min-width:30px;
    min-height: 24px;
    background-color: #F2F2F2;
    padding-top: 14px;
    padding-left:20px;
    position: relative;
    right:260px;
    top:4px;
    border-top-left-radius:10px;
    border-bottom-left-radius: 10px;
}
input:focus{
    box-shadow:1px 1px 5px black;
}
.categorie_filtre{
    width:140px;
    height:28px;
    border:2px solid #F2F2F2;
    font-size: 0.7em;
    text-align:right;
    border-radius: 20px;
}
.categorie_filtre>a{
    display: inline-block;
   /* border:1px solid red;*/
    padding-top:8px;
    padding-right: 10px;
    
    font-weight: bolder;
}
 .filtre .categorie_filtre:nth-child(2){
    width:110px;

}

.filtre .categorie_filtre:nth-child(4){
   width:90px;
}
.filtre .categorie_filtre:nth-child(6){
    width:110px;

 }
 .filtre .categorie_filtre:nth-child(8){
    width:140px;

 }
 .filtre p{
     font-size:0.8em;
     font-weight: bold;
     margin-right:20px;
 }
     
 

    

.filtre{
    display:flex;
    flex-direction:row;
    justify-content:start;
    align-items: center;
   /* border:1px solid red;*/
    flex-wrap: wrap;
    height: 80px;
}



#money,#child,#heart,#dog{
    color:#0065FC;
   background-color:#DEEBFF;
    font-size:0.6em;
    height: 20px;
    width: 30px;
    padding-top:10px;
    padding-left: 0px;
    text-align: center;
    border-radius: 100px;   
   
}
#money{
    position:relative;
    right:115px;
}
#child{
    position:relative;
    right:100px;
}
#dog{
    position:relative;
    right:145px;
}
#heart{
    position:relative;
    right:120px;
}
.bloc_regroup_hebergement{
    display:flex; 
    justify-content:space-between; 
    height:450px;
}
.photo_hebergement>a>i{
    color:#0065FC;
}
.photo_hebergement a>img{
    display:inline-block;
    width:150px;
    height: 80px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    padding-top: 4px;
}
.photo_populaire a>img{
    display:inline-block;
    width:110px;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
   /* border:1px solid red;*/
    height: 90px;
    margin-top:5px;
    margin-right:5px;
}
.photo_populaire>a{
    /*border:1px solid blue;*/
    justify-content: space-around;
    align-content: center;
    display: flex;
    width: 250px;
    height: 100px;


}

.photo_populaire>a>div{
   /* border:1px solid green;*/
    width:110px;
    text-align:left;
}
.photo_hebergement{
    width:160px;
    height: 145px;
    background-color:white;
    font-size:0.7em;
    text-align: center;
    margin:15px;
    box-shadow:0px 0px 8px black;
    border-radius:10px;

}
.photo_populaire{
    background-color:white; 
   
    font-size:0.7em;
    width: 250px;
    height: 100px;
    border-radius:10px;
    box-shadow: 0px 0px 8px black;
   /* border:1px solid yellow;*/
    margin:auto;
   

}

#article_hebergement{
    border-radius:20px;
    background-color:#F2F2F2;
    width:580px;
    display: flex;
    flex-direction: column;
}
#article_populaire{
    width:300px;
    background-color:#F2F2F2;
    border-radius:20px;
    display: flex;
    flex-direction: column;
}
.bloc_photo{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
}
.photo_activite>a>img{
    display: inline-block;
    width:200px;
    height:250px;
    border-top-left-radius:20px;
    border-top-right-radius: 20px;
}
#activite{
    display: flex;
    flex-direction: column;

}
.photo_activite{
    height:300px;
    width:200px;
    text-align:left;
    font-size:0.8em;
    border-radius: 20px;
    border-left:none;
    border-right: none;
    /*border:1px solid green;*/
    box-shadow:0.5px 0.5px 10px rgb(167, 158, 158);
   
  
   /* border-bottom-left-radius:20px;
    border-bottom-right-radius: 20px;*/
}
.group_photo_activite{
    display: flex;
    justify-content: space-between;
}
.photo_group_activite>div>a>img{
    width:200px;
    height:100px;
}
.photo_group_activite>div{
    width:200px;
    height:150px;
    /*border:1px solid black;*/
}
.photo_group_activite{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    height:300px;
    width:200px;
    /*border:1px solid black;*/
}


.photo_group_activite>div:nth-child(2)>a>img{
    height:73px;
}
.photo_group_activite>div:nth-child(1)>a>img{
    height:105px;
}
.photo_group_activite>div:nth-child(2){
    height:120px;
   /* border:1px solid red;*/
}
#bloc_dame{
    height:140px;
}
#bloc_parc{
    height:140px;
}
#parc{
    height:92px;
}
#dame{
    height:92px;
}
a>strong{
    padding-left:10px;
}
footer>nav{
    background-color:#F2F2F2;
    display: flex;
    justify-content:space-between;

}
nav>section{
    /*border:1px solid green;*/
    width:300px;
}
nav>section:nth-child(1){
    width:200px;
    margin-left:20px;
}
nav>section:nth-child(2){
    width:150px;
}

footer{
   /* border: 1px solid black;*/
    margin-top: 30px;
    width:950px;
   /* border:1px solid red;*/

}
section>p{
    font-size: 0.8em;
}

@media all and (max-device-width:1024px){
   
    #bloc_page{
        width:950px;
        margin:0px;
         
        display:flex;
        justify-content:start;
        align-items: flex-start;
      
    }
    #page_principal{
        width:950px;
        margin:0px;
    }
   
  h3{
      font-size:3em;
      width:70%;
      height: 30%;
      margin-top:10%;
      text-align: center; 
       
  }
  h3+p{
    
    margin-top:20px;
    width:auto;
    text-align:center;
    font-size:2em;
  }
  #bouton_mobile{
      display: inline-block;
      width:93px;
      height:93px;
      font-size:1.3em;
      border-radius:19px;
      position:relative;
      top:1px;
      right:40px;
  }
  input::placeholder{
      font-size:2em;
  }
  #marker_desktop{
    display:none;
  }
  #marker_mobile{
      display:inline-block;
      width:40px;
      height: 60px;
      font-size:2em;
      background-color: #F2F2F2;
      padding-top: 25px;
      padding-left:30px;
      left:70px;
      position: relative;
      border-top-left-radius:20px;
      border-bottom-left-radius: 20px;
  }
 
  .barre_de_recherche{
    display:flex;
    justify-content:center;
    align-items:center;
    
  }
  #bouton_desktop{
      display:none;
  }

  .barre_de_recherche>input{
      width:500px;
      height:80px;
     border-radius:20px;
      
  }
  
 



}

